<div class="contact-imfo-box footer-area bg-f">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <i class="fa fa-volume-control-phone"></i>
                <div class="overflow-hidden">
                    <h4>Phone</h4>
                    <p class="lead" id="phone"></p>
                </div>
            </div>
            <div class="col-md-4">
                <i class="fa fa-envelope"></i>
                <div class="overflow-hidden">
                    <h4>Email</h4>
                    <p class="lead" id="email-address">
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <i class="fa fa-map-marker"></i>
                <div class="overflow-hidden">
                    <h4>Location</h4>
                    <p class="lead" id="location"></p>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    let phone = "+98 937 122 6902"
    document.getElementById("phone").innerHTML = phone
    
    let email = "amirnurani2001@gmail.com"
    document.getElementById("email-address").innerHTML = email

    let address = "Karaj, Iran"
    document.getElementById("location").innerHTML = address
</script>
