{% load static %}

<header class="top-navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <img src="{% static 'images/logo.png' %}" alt="" />
            <div class="collapse navbar-collapse" id="navbars-rs-food">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="{% url 'foods:index' %}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'menu:menu' %}">Menu</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'contact:contact' %}">Contact</a></li>
                    
                    {% if request.user.is_authenticated %}
                        <li class="nav-item border-left"><a class="nav-link">{{request.user}}</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'login:logout' %}">Logout</a></li>
                    {% else %}
                        <li class="nav-item border-left"><a class="nav-link" href="{% url 'login:login' %}">Login</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'login:register' %}">Register</a></li>
                    {% endif %}
                        
                    
                    
                </ul>
            </div>
        </div>
    </nav>
</header>
